@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  overflow-x: hidden;
  color: #222;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(65,58,181);
  background: linear-gradient(0deg, rgba(65,58,181,1) 0%, rgba(164,43,150,1) 50%, rgba(175,13,13,1) 100%);

  background: url('https://www.iconpacks.net/icons/2/free-click-icon-2384-thumb.png');
  background-size: 50px;
  background-position: center center;
}

button, input{
  border: none;
}

.container {
  background: #fff;
  max-width: 720px;
  width: 100%;
  min-height: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .score{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}

.board {
  min-height: 480px;
  max-width: 620px;
  width: 100%;
  background: #333;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.9;

}

.btn {
  padding: 16px 32px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  background: rgb(39, 93, 163);
  letter-spacing: 2px;
  color: #fff;

  transition: all .25s ease;
}

.effects {
  border-radius: 4px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  transition: all .25s ease;
}

.span-time {
  margin-top: 3rem;
  display: inline-block;
  font-size: 1.8rem;
}

.input-number {
  padding: 15px;
  margin-top: 2rem;
  font-size: 18px;
  border-radius: 4px;

  width: 100px;
}


.hide {
  display: none;
}

.show {
  display: block;
}

@media(hover: hover ) {
  .effects:hover {
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  }

  .btn:hover {
    transform: scale(1.02);
    letter-spacing: 1px;
  }

  .btn:active {
    transform: scale(0.98);
  }

  .input-number:focus {
    border-radius: 10px;
  }

}